node_modules
npm-debug.log
.env
.env.local
.git
.gitignore
README.md
docs
*.md
.vscode
.idea
.DS_Store
dist
build
coverage
*.log
dataset
merged_trades
ws_user_activity
--user
*.jsonl
*_prices.json
*_prices.jsonl
*_state.json
meta.json
ethereum_1h_data/
ethereum_market_ws_logs.jsonl
.eslintcache
.prettiercache
simulation_results
trader_data_cache
